<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Authentication</title>
  <link rel="stylesheet" href="/style/main.css">
</head>
<body>
  <header>
    <h2 id="header-title"><a href="/">Authentication</a></h2>
    <ul id="authentication">
      <li><a href="/register">Register</a></li>
      <li><a href="/sign-in">Sign in</a></li>
    </ul>
  </header>
  
